*~
*.bu
.snakemake
arrange.out
batches_for_lastz_self.tab
blastdb/
blastout/
blastout_done
both_tmp/
data/
error.log
fasta/
fasta_done
fastalength.log
fastawhole
fastawhole.fofn
fastawholesplit/
fastawholesplit_done
flags/
formatdb.log
fugu/
fugu_done
fugu_trf
fugu_trf_done
fugu2/
fugu2_done
generalView/
global_align_*.[eo]*
global_align_*.p[eo]*
global_align_done
global_align_110k_done
global_align_flags/
global_align_110k_flags/
globalView/
lastz_self_done
log/
made_sge_align_batch
made_sge_align_batch_110k
makefile_wgac.out*
mask_out/
mask_out_done
populate_trf_with_links_done
selfblast/
sge_align_batch.sh
sge_align_batch_110k.sh
showseq.out
stats/
trf
trim-ends*.sh
trim-ends*.[eo]*
trim-ends*.p[eo]*
trim_ends_done
wgac_blast_*.[eo]*
wgac_blast_*.p[eo]*


