.snakemake
blastdb/
blastout/
data/
error.log
fasta/
fastalength.log
fastawhole
fastawholesplit/
flags/
formatdb.log
fugu/
fugu2/
lastz_self_done
log/
mask_out/
mask_out_done
sge_align_batch.sh
sge_align_batch_110k.sh
stats/
