.snakemake
batches_for_lastz_self.tab
blastdb/
blastout/
blastout_done
data/
error.log
fasta/
fastalength.log
fastawhole
fastawholesplit/
flags/
formatdb.log
fugu/
fugu2/
global_align_*.[eo]*
global_align_*.p[eo]*
lastz_self_done
log/
mask_out/
mask_out_done
selfblast/
sge_align_batch.sh
sge_align_batch_110k.sh
stats/
trim-ends*.sh
trim-ends*.[eo]*
trim-ends*.p[eo]*
wgac_blast_*.[eo]*
wgac_blast_*.p[eo]*


